services:
  postgres:
    image: postgres:17
    container_name: the_happy_pupbox_postgres
    restart: no
    environment:
      POSTGRES_USER: the_happy_pupbox
      POSTGRES_PASSWORD: the_happy_pupbox
      POSTGRES_DB: the_happy_pupbox
    ports:
      - '6090:5432'
    volumes:
      - the_happy_pupbox_postgres:/var/lib/postgresql/data
    networks:
      - the_happy_pupbox_network

networks:
  the_happy_pupbox_network:
    driver: bridge

volumes:
  the_happy_pupbox_postgres:
    driver: local
