services:
  postgres:
    image: postgres:17
    container_name: nest_postgres
    restart: no
    environment:
      POSTGRES_USER: nest_js
      POSTGRES_PASSWORD: nest_js
      POSTGRES_DB: nest_js
    ports:
      - '6090:5432'
    volumes:
      - nest_postgres:/var/lib/postgresql/data
    networks:
      - nest_network

networks:
  nest_network:
    driver: bridge

volumes:
  nest_postgres:
    driver: local
